body {
  background-image: url('../images/background-upscaled.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.titleBox > h1 {
  color: black;
  font-size: 2rem;
}

.secondBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.close-button > img {
  cursor: pointer;
  width: 10%;
}

.close-button {
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.mainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainBox .secondBox .boxes-wrapper {
  display: flex;
  column-gap: 3vw;
}

.mainBox .secondBox .boxes-wrapper .unique-box {
  margin-top: 5vh;
}

.mainBox .secondBox .boxes-wrapper div {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: auto;
  border: 0.05vw solid;
  border-radius: 0.8vw;
  border-width: 0.2vw;
  border-color: black;
  background-color: rgb(169, 136, 252);
  row-gap: 0.5vh;
}

.mainBox .secondBox .boxes-wrapper .unique-box .titleBox {
  width: 80%;
  height: 8vh;
  border: 0.05vw solid;
  flex-direction: row;
  margin-top: 3%;
  justify-content: center;
}

.mainBox .secondBox .boxes-wrapper .unique-box .contentBox {
  display: flex;
  padding: 0.05vw;
  border: 0.05vw solid;
  width: 80%;
  margin-bottom: 5%;
  justify-content: center;
  padding: 0.5vw;
}

.mainBox .secondBox .boxes-wrapper .unique-box .settingsBox {
  padding: 0.05vw;
  border: 0.05vw solid;
  width: 80%;
  margin-bottom: 5%;
  height: 13vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainBox .secondBox .boxes-wrapper .unique-box .settingsBox div {
  margin-right: 20px;
  border: 0.08vw solid;
  border-color: black;
  width: 95%;
  height: auto;
  justify-content: center;
}

.mainBox .secondBox .boxes-wrapper .unique-box .settingsBox a {
  font-size: SMALL;
  text-align: center;
  text-decoration: none;
  color: black;
}

.mainBox .secondBox .boxes-wrapper .unique-box .contentBox div {
  flex-direction: row;
  width: max-content;
  border-width: 0.08vw;
}

.mainBox .secondBox .boxes-wrapper .unique-box .contentBox img {
  width: 3vw;
  height: auto;
}

.icon {
  width: 6vh;
  height: auto;
}

.boxes-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBox .searchBar {
  display: flex;
  margin-bottom: 50px;
  border: none;
  background-color: transparent;
  width: 20vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
}

.searchBar .searchField {
  width: 15vw;
  height: 3vh;
  border-radius: 0.3vw;
}

.searchBar img {
  width: 4vh;
  height: 4vh;
  margin-right: 0.1vw;
}

.settingsBackground {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.settingsContent {
  border: 1px solid;
  border-radius: 1vw;
  background-color: white;
  width: 33.33vw;
  height: 75vh;
  top: 10vh;
  left: 33.33vw;
  position: absolute;
  text-align: left;
}

.settingsContent h1 {
  text-align: right;
}

.settingsContent h3 {
  text-align: center;
}

h2 span {
  font-size: 0.8rem;
}

@media (max-width: 1207px) {
  .mainBox .secondBox .boxes-wrapper {
    display: block;
  }

  .mainBox .secondBox .boxes-wrapper .unique-box .settingsBox {
    padding: 0.05vw;
    border: 0.05vw solid;
    width: 80%;
    height: 13vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .mainBox .secondBox .boxes-wrapper .unique-box .settingsBox h1 {
    font-size: 1.2rem;
  }

  .mainBox .secondBox .boxes-wrapper .unique-box .titleBox h1 {
    font-size: 1.5rem;
  }
}
