h1{
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
}

.nume_pers{
    color: black;
    font-size: xx-large;
    text-decoration:underline;
    text-align: center;
}

#pers_wrapper{
    margin:auto;
}

#contactInfo{
    bottom: 0;
    left: 0;
    right: 0;
}

.poza{
    margin-top: 10px;
    border-radius: 50%;
    border-style: dashed;
    border-width: 20px;
    height: 20vh;
}
.pers{
    display: flex;
    justify-content: center;
}

body{
    background: linear-gradient(to left, #5d006c, #d289ff);  
}