h1{
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
}

.nume_pers{
    font-size: xx-large;
    text-align: center;
}

#pers_wrapper{
    margin:auto;
}

.poza{
    margin-top: 10px;
    border-radius: 50%;
    height: 20vh;
}
.pers{
    display: flex;
    justify-content: center;
}